<div class="main-container">
  <div class="about-info">
    <h2>About Munro Explorer</h2>
    <p>Munro Explorer was created by <a href="https://elipinska.github.io/" target="_blank">Ewa Lipinska</a> as part of <a href="https://codeclan.com/" target="_blank">CodeClan</a>'s 16-week software development course. The app was built using Ruby, Sinatra, Postgres, HTML and CSS.
    <br>
    More information about the project can be found in <a href="https://github.com/elipinska/munro-explorer-heroku" target="_blank">the project's GitHub repository.</a>

    <h2>Credits</h2>

    <p>A big thanks to all instructors at CodeClan for their patient support throughout the project week :-)</p>

    <p>Background image adapted from <a href="https://commons.wikimedia.org/wiki/File:Munro-colour-contour-map-sec16.png" target="_blank">Wikipedia Commons</a>.<br>

    Icons made by <a href="http://www.freepik.com" title="Freepik" target="_blank">Freepik</a>  and  <a href="https://www.flaticon.com/authors/monkik" title="monkik" target="_blank">monkik</a> from <a href="https://www.flaticon.com/" target="_blank" title="Flaticon">www.flaticon.com</a>. Licensed under <a href="http://creativecommons.org/licenses/by/3.0/" target="_blank" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>.<br>

    Homepage image taken from <a href="https://pngtree.com" target="_blank">pngtree.com</a>.<br>

    Background image adapted from <a href="https://commons.wikimedia.org/wiki/File:Munro-colour-contour-map-sec16.png" target="_blank">Wikipedia Commons</a>.</p>
      </div>
    </div>
