<div class="main-container">
  <div class="index-info">
  <h1>Wecome to Munro Explorer!</h1>
  <h2>Munro Explorer lets you record your hikes and view profiles of fellow hikers. If you like a challenge, you can set yourself personal climbing goals (psst... there will be cookies for those who complete them!) </h2>
  <img class="main-logo" src="/images/main.png" alt="main logo">
  <h2>What's a Munro anyway?</h2>
  <p>A Munro is a mountain in Scotland which is over 3000 feet (914m) high. These 282 peaks are named after Sir Hugh Munro, who surveyed and catalogued them in 1891. Climbing (otherwise referred to as 'bagging') the Munros is a fantastic way to explore Scotland and see an incredible breadth of the country's natural beauty.  </p>
  <div>
</div>
