<div class=main-container>
<h1>Congratulations, you've completed your goal!</h2>
<h3>Congratulations, <%=@hiker.first_name%>! You've just completed your goal to climb
<%if @hiker.munro_goal == 1 %>
<%="#{@hiker.munro_goal} munro"%>
<%else%>
<%="#{@hiker.munro_goal} munros"%>
<%end%>
!</h3>
<h3>Here, have a cookie - you deserve it!</h3>
<img id="cookie" src="/images/cookies.png" alt="cookie-image">
<h4>Once you're done munching, you can create a new goal in your <a href="/hikers/<%=@hiker.id%>/edit">profile settings</a> or <a href="/hikes">go back to the list of all hikes</a>.</h4>
</div>
