<div class="centered-display">
  <div class="new-form">

    <h1>Add a new Munro</h1>

    <form method="post" action="/munros">
      <div class="question-field">
        <div class="form-content">
          <div class="form-question">
            <label for="name">Name:</label>
            <input id ="name" type="text" name="name" required/>
          </div>

          <div class="form-question">
            <label for="region">Region:</label>
            <input id ="region" type="text" name="region" required/>
          </div>

          <div class="form-question">
            <label for="altitude">Altitude (in meters):</label>
            <input id ="altitude" type="number" name="altitude" required/>
          </div>

        </div>
        <img class="form-img" src="/images/munro.png" alt="mountain icon">
      </div>
      <button class="submit-btn" type='submit'>Add Munro</button>

    </form>
  </div>
</div>
